nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 70px;
    align-items: center;

    & h1{
        font-size: 1.6em;
    }
}

nav > ul{
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    list-style: none;
}

nav > button{
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

